.header, .footer {
	text-align: center;
}

@font-face {
	font-family: Epic;
	src: url("https://fonts.gstatic.com/s/lakkireddy/v3/rbI79lEFsIu8-QPtske7f4bN6UDyHWBl620a-IRfuBk.woff");
}

.header {
	font-family: Epic;
}

a:visited {
	color: grey;
}

a:hover {
	font-size: larger;
}

a:active {
	text-decoration: none;
}